.shop-items{
    width: 100%;
    gap: 1.5rem;
    place-items: center;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    .item{
        align-items: center;
        width: min-content;
    }
    .item-img-container{
        width: 100%;
        img{
            height: 200px;
        }
    }
    @media only screen and (max-width: 480px) and (orientation: portrait){
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
    @media only screen and (max-width: 768px) and (orientation: landscape){
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
}

.shop-items *{
    border-radius: 5px;
}
