.shop-items{
    width: 100%;
    gap: 1.5rem;
    place-items: center;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    & .item{
        align-items: center;
        width: min-content;
    }
    & .item-img-container{
        img{
            width: 160px;
        }
    }
}

.shop-items *{
    border-radius: 5px;
}


@media only screen and (max-width: 480px) and (orientation: portrait) {
    .shop-items{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        & .item{
            & .item-img-container{
                & img{
                    width: 200px;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) and (orientation: landscape){
    .shop-items{
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
    img{
        width: 160px;
    }
}