.order-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    min-height: 78dvh;
    height: 78dvh;
}

.order-table-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.order-table-wrapper{
    flex: 1;
}

.order-pagination-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.items-on-page{
    margin-top: 5px;
}

#itemsPerPage{
    font-size: 0.875rem;
    padding: 0rem 1.3rem;
    padding-left: 5px;
    height: auto;
    width: auto;
}

.form-select{
    background-position: right .3rem center;
}