.order-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    height: 100%;
    max-height: 100%;
}

.order-table-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.order-table-wrapper{
    flex: 1 1;
    overflow-y: auto;
}

.order-pagination-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 15%;
}

.items{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.items-on-page{
    margin-top: 5px;
}

#itemsPerPage{
    height: 25px !important;
    font-size: 0.875rem;
    padding: 0rem 1.3rem;
    padding-left: 5px;
    height: auto;
    width: auto;
}

.form-select{
    background-position: right .3rem center;
}

@media only screen and (orientation: portrait) {
    .order-container{
        height: 85dvh;
    }
    .order-pagination-container {
        max-height: 15%;
    }

}

@media only screen and (max-width: 768px) and (orientation: landscape){
    .order-container{
        height: 80dvh;
    }
    .order-pagination-container {
        max-height: 20%;
    }
}