
.login-container{
    z-index: 100;
    min-width: fit-content;
    position: fixed;
    top: 8dvh;
    right: 1dvh;
    background-color: var(--bg-color);
    border: 1.5px solid #888888;
    border-radius: 5px;
}

.login{
  display: flex;
  flex-direction: column;
  max-width: 25dvw;
}
