.cart-payment{
    display: flex;
    flex-direction: column;
    width: 30dvw;
    max-height: 100%;
}

.card-title{
    text-align: center;
}

.scrollable-list{
    flex: 1;
    overflow-y: auto;
}

.cart-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
