.card-cart-actions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-cart-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .form-control{
        max-height: 30px;
        min-width: 40px;
        width: 17%;
        text-align: center;
        align-self: center;
    }
}

.error{
    color: red;
}